body {
  font-family      : 'Open Sans', sans-serif;
  font-size        : 12pt;
  font-weight      : normal;
  line-height      : 1.2em;
  margin           : 15px;
  background-color : transparent;
}
table {
  width            : 50%;
}
tbody {
  width            : 100%;
  position         : relative;
}
tr {
  width            : 100%;
}
td {
  width            : 100%;
  position         : relative;
}
article {
  background-color : transparent;
}
input {
  position         : relative;
  left             : 90%;
  //right            : 90%;
  background-color : transparent;
}
span {
  width            : 100%;
  background-color : transparent;
}
h3 {
  width            : 100%;
}
hr {
  width            : 100%;
  height           : 1px;
  border           : 0px;
  background-color : blue;
}
h3>hr {
  width            : 100%;
  height           : 3px;
  border           : 0px;
}
label {
  font-size        : 14pt;
}
ul {
  display          : none;
}

#td_buttonCell
{
  text-indent      : 5%;
  -webkit-animation : mymove 2s;
  -webkit-animation-iteration-count : 0;
}
@-webkit-keyframes mymove /*Safari and Chrome*/
{
  from {background-color:red;}
  to   {background-color:transparent;}
}

.scrollTableL
{
  float:left;
  background-color:#00e0e6;
}
.scrollTableR
{
  float:right;
  background-color:rgba(200,0,0,0.5);
}

#svg1 {
  display         : none;
}

