body {
  font-family      : 'Open Sans', sans-serif;
  font-size        : 18pt;
  font-weight      : normal;
  line-height      : 1.2em;
  margin           : 0px;
  background-color : transparent;
}
table {
  width            : 30%;
  position         : relative;
}
tbody {
  width            : 100%;    // need 100% otherwise the width of the table element will kick in
}
tr {
}
td {
}
input {
  float            : right;
}
span {
  background-color : transparent;
}
h3 {
  text-align       : left;
}
hr {
  height           : 1px;
  border           : 0px;
  background-color : blue;
}
h3>hr {
  height           : 3px;
  border           : 0px;
}
label {
  font-size        : 18pt;
}
ul {
  display          : none;
}

#td_buttonCell
{
  text-indent      : 5%;
  -webkit-animation : mymove 2s;
  -webkit-animation-iteration-count : 0;
}
@-webkit-keyframes mymove /*Safari and Chrome*/
{
  from {background-color:red;}
  to   {background-color:transparent;}
}

.scrollTableL
{
  float:left;
  background-color:#00e0e6;
}
.scrollTableR
{
  float:right;
  background-color:rgba(200,0,0,0.5);
}

#svg1 {
  font-family      : 'Open Sans', sans-serif;
  font-size        : 40pt;
  font-weight      : bold;
  display          : none;
  /*
  display          : inline-block;
  -webkit-transform : translate(200px,200px);        // OK
  -webkit-transform : translate3d(200px,200px,0px);  // OK
  */
}
#svg1g {
  display         : none;
}
#svg1rect {
  /* display         : inline-block; */
}
#svg1text {
}
